body {
	background-image: url("zx14Launch.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.row.content {height: 750px}

/*#logo {
	background-size: cover;
}*/

#testing {
	bottom: 0;
}

#welcome {
	background-color: rgba(255, 255, 255, 0.7);
}

#email {
	background-color: rgba(255, 255, 255, 0.3);
}

footer {
	background-color: #555;
	color: white;
	padding: 15px;
}
